{% load static %}
<link rel="stylesheet" href="{% static 'nutrition/bootstrap.min.css' %}">
<link rel="stylesheet" type = 'text/css' href="{% static 'nutrition/foodList.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

<html lang="en">
<head>

    <div class="container">
        <meta charset="UTF-8">
        <title>nutrilog</title>
        <nav class="navbar">
            <a href="{% url 'nutrition:home' %}" class="navbar-brand navbar-light background-light">nutri<span class="color-logo">log</span></a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nutrition:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nutrition:about' %}">About</a>
                </li>
                <li>
                    <a class="btn btn-outline-primary" href="{% url 'nutrition:testgoogle' %}">Upload</a>

                </li>
            </ul>
        </nav>
    </div>

</head>

<body>
<div class="container">
    <h3 style="text-align:center; padding-top: 5%;"> Fill out 5-6 Grocery Items</h3>
    <form id="food-form">

        <div class="row">
            {% csrf_token %}
            {% for field in form %}


                {{ field }}

            {% endfor %}
            <div class="row" id="idek">
            <button type="submit" class="btn btn-primary" id="add">Add Food</button>
            </div>
    <form>
        </div>
</div>
<hr />

<div class="container-fluid">
    <div class="row" id="second">
    <table class="table table-striped table-sm" id="my_foods">
        <thead>
            <tr>
                <th>Grocery List</th>
            </tr>
        </thead>
        <tbody>
        {% for food in foods %}
        <tr>
            <td>{{food.name}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>



    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#food-form").submit(function (e) {
        // preventing from page reload and default actions

        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'nutrition:post_food' %}",
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#food-form").trigger('reset');
                // 2. focus to nickname input
                $("#id_name").focus();

                // display the newly friend to table.
                var instance = JSON.parse(response["instance"]);
                var fields = instance[0]["fields"];

                $("#my_foods tbody").prepend(
                    `<tr>
                    <td>${fields["name"]||""}</td>
                    </tr>`
                )
            },
            error: function (response) {
                // alert the error if any error occured
                window.location.replace('/nutrition/results');

            }
        })
    })


</script>

</body>

</html>