{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'nutrition/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'nutrition/styles.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class = "page2header">NutriLog</h1>
{% for food in food_nutrition.items %}
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
        <h1 class = "header"> {{food.1.name}} </h1>
        <p class = "macros">Calories: {{food.1.calories}}g</p>
            <p class = "macros">Carbs: {{food.1.carbs}}g</p>
            <p class = "macros">Protein: {{food.1.protein}}g</p>
            <p class = "macros">Total Fat: {{food.1.fat}}g</p>
            <p class = "macros">Total Sugar: {{food.1.sugar}}g</p>
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
{% endfor %}
</body>
</html>