{% load static %}
<link rel="stylesheet" href="{% static 'nutrition/bootstrap.min.css' %}">
<link rel="stylesheet" type = 'text/css' href="{% static 'nutrition/uploadpage.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

<html lang="en">
<head>

    <div class="container">
        <meta charset="UTF-8">
        <title>nutrilog</title>
        <nav class="navbar">
            <a href="{% url 'nutrition:home' %}" class="navbar-brand navbar-light background-light">nutri<span class="color-logo">log</span></a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nutrition:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nutrition:about' %}">About</a>
                </li>
                <li>
                    <a class="btn btn-outline-primary" href="{% url 'nutrition:testgoogle' %}">Upload</a>

                </li>
            </ul>
        </nav>
    </div>

</head>
<body>
<div class="container">
    <div class="row" id ="new2">
<h1 style="padding-bottom: 5%;">Upload a Picture of Your Grocery List</h1>

        <div style = "padding-left: 20%;" class="row" id = "new3">

     <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="nav-link" id="upload1" style = "text-align: center;">
   Choose File
  {{form.list_Img}}
</label>
    </div>
         <div  class="row" id = "new1">
        <button class = "btn btn-primary" id="upload" type="submit">Upload</button>

    </form>
             </div>

        </div>
    </div>
</body>
</html>